<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Rock-Paper-Scissors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

     <style>
    .navbar {
      display: block;
      justify-content: space-between;
    }
  </style>
  </head>
  
  <body>

  <div class="navbar">
    <div>Play Rock</div>
    <div>Play Paper</div>
    <div>Play Scissors</div>

    <h1>Welcome to Rock-Paper-Scissors! </h1>
  </div>

  <%#= yield %>

    

  </body>
</html>
